# --- IDEs y Editores ---
.metadata/
.settings/
.project
.classpath
.apt_generated
.factorypath
.springBeans
.sts4-cache
.idea
*.iws
*.iml
*.ipr
.vscode/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Build Tools (Maven/Gradle) ---
target/
bin/
build/
.mvn/wrapper/maven-wrapper.jar
HELP.md

# Excepciones para mantener carpetas de compilación específicas si fuera necesario
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# --- SEGURIDAD Y CONFIGURACIÓN LOCAL (Muy importante) ---
src/main/resources/serviceAccountKey.json
.env
*.log